PORT=6000
MONGO_URL=mongodb://localhost:27017/twitter
SECRET_TOKEN=your_jwt_secret_key_here
EXPIRES_IN=7d
SALT_ROUNDS=10
RABBITMQ_URL=amqp://localhost
RABBITMQ_EXCHANGE=NOTIFICATION
RABBITMQ_QUEUE=notification-queue
RABBITMQ_ROUTING_KEY=NOTIFY
